.hero-image {
    height: 50vh;
    width: 100%;
    background: linear-gradient( to right, rgba($negro, 0.4), rgba($negro, 0.4)),
    url(../dist/Multimedia/home.jpg) center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    h1 {
        margin-bottom: 3rem;
        font-family: $oswald;
        color: $blanco;
        font-size: 2rem;
    }
}

.main {
    @include flexCenter;
    width: 100%;
    margin: 0.5rem auto;
    &__subtitulo {
        font-family: $playfair;
        font-size: 1rem;
        font-weight: weight(regular);
        color: $blanco;
        background: $verde;
        padding: 30px;
        text-justify: left;
    }
}

.primer-parrafo {
    width: 90vw;
        margin: 0.5rem 0.2rem 0;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        font-family: $playfair;
        font-size: 1rem;
        color: $negro;
        line-height: 1.5;


        &__img {
            margin: 1.2rem;
            width: 100%;
        }

        &__line {
            margin: 1.2rem;
            width: 100%;
            background: $gris;
            padding: 10px;
            text-align: center;
        }


        &__subtitulo {
            text-align: center;
            margin: 0.2rem 0.02rem 0 0.8rem;
            font-weight: bold;
        }
}